{% extends 'base.html' %}
{% load static %}
{% load form_tags %}
{% load access_tags %}

{% get_media_prefix as MEDIA_URL %}

{% block content %}
<div class="page-wrapper">
  <!-- BEGIN PAGE HEADER -->
  <div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Dynamic Page Title -->
          <kbd class="bg-yellow-lt"><h2 class="page-title">{{ page_title }}</h2></kbd>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container py-4">
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title">
            {% if edit_mode %}
              Editing Info for: <span class="text-warning fs-2">{{ guest.title }} {{ guest.full_name }}</span>
            {% else %}
              Add New Guest
            {% endif %} </h3>
        </div>
        <div class="card-body">

          <!-- Guest Image Preview -->
          <div class="mb-4 text-center">
            <span class="avatar avatar-xl rounded" style="width: 100px; height: 100px;">
              <img id="preview-img" 
                  src="{% if guest and guest.picture %}{{ guest.picture.url }}{% else %}{% static 'images/default_image.jpg' %}{% endif %}" 
                  alt="Guest Picture" 
                  class="rounded shadow-sm"
                  style="object-fit: cover; width: 100px; height: 100px;">
            </span>
          </div>

          <!-- Guest Form Start -->
          <form id="guestForm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger">
                {{ form.non_field_errors }}
              </div>
            {% endif %}

            <div class="row g-3">

              {% for field in form.visible_fields %}
                <div class="col-md-6">
                  <div class="form-group">
                    <!--<label for="{{ field.id_for_label }}" class="form-label text-white">{{ field.label }}</label>-->

                    <div class="input-group input-group-flat">
                      {% if field.name == 'picture' %}
                        <span class="input-group-text bg-dark text-purple" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-camera">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                            <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                          </svg>
                        </span>
                        <input type="file" 
                              name="picture" 
                              id="{{ field.id_for_label }}" 
                              accept="image/*" 
                              class="form-control bg-grey text-white border-0"
                              onchange="previewImage(this)">
                      {% elif field.name == 'full_name' %}
                        <span class="input-group-text bg-grey text-warning border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'phone_number' %}
                        <span class="input-group-text bg-grey text-red border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile-vibration">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                            <path d="M8 4l2 0" /><path d="M9 17l0 .01" /><path d="M21 6l-2 3l2 3l-2 3l2 3" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'referrer_phone_number' %}
                        <span class="input-group-text bg-grey text-red border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile-vibration">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                            <path d="M8 4l2 0" /><path d="M9 17l0 .01" /><path d="M21 6l-2 3l2 3l-2 3l2 3" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'email' %}
                        <span class="input-group-text bg-grey text-teal border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-at">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                            <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'date_of_birth' %}
                        <span class="input-group-text bg-grey text-violet border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                            <path d="M16 3v4" /><path d="M8 3v4" />
                            <path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'age_range' %}
                        <span class="input-group-text bg-grey text-pink border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-rating-18-plus">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                            <path d="M11.5 10.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0" />
                            <path d="M11.5 13.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0" /><path d="M7 15v-6" />
                            <path d="M15.5 12h3" /><path d="M17 10.5v3" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'date_of_visit' %}
                        <span class="input-group-text bg-grey text-violet border-0 d-flex align-items-center justify-content-center" style="width: 38px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-calendar">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                            <path d="M16 3v4" /><path d="M8 3v4" />
                            <path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" />
                          </svg>
                        </span>

                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'occupation' %}
                        <span class="input-group-text bg-grey text-emerald border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'referrer_name' %}
                        <span class="input-group-text bg-grey text-warning border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart-handshake">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /><path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25" />
                            <path d="M12.5 15.5l2 2" /><path d="M15 13l2 2" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'home_address' %}
                        <span class="input-group-text bg-grey text-amber border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'message' %}
                        <span class="input-group-text bg-grey text-rose border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-note">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 20l7 -7" />
                            <path d="M13 20v-6a1 1 0 0 1 1 -1h6v-7a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% elif field.name == 'title' %}
                        <span class="input-group-text bg-grey text-cyan border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-tie">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 22l4 -4l-2.5 -11l.993 -2.649a1 1 0 0 0 -.936 -1.351h-3.114a1 1 0 0 0 -.936 1.351l.993 2.649l-2.5 11l4 4z" />
                            <path d="M10.5 7h3l5 5.5" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'gender' %}
                        <span class="input-group-text bg-grey text-fushcia border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-gender-male">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 14m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" />
                            <path d="M19 5l-5.4 5.4" /><path d="M19 5h-5" /><path d="M19 5v5" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'marital_status' %}
                        <span class="input-group-text bg-grey text-green border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-friends">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5" /><path d="M17 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'channel_of_visit' %}
                        <span class="input-group-text bg-grey text-indigo border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-tv">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M16 3l-4 4l-4 -4" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'purpose_of_visit' %}
                        <span class="input-group-text bg-grey text-sky border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building-church">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 21l18 0" /><path d="M10 21v-4a2 2 0 0 1 4 0v4" /><path d="M10 5l4 0" />
                            <path d="M12 3l0 5" /><path d="M6 21v-7m-2 2l8 -8l8 8m-2 -2v7" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'service_attended' %}
                        <span class="input-group-text bg-grey text-yellow border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pray">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            <path d="M7 20h8l-4 -4v-7l4 3l2 -2" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% elif field.name == 'assigned_to' %}
                        <span class="input-group-text bg-grey text-orange border-0" style="width: 38px; display:flex; align-items:center; justify-content:center;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-replace-user">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 11v-3c0 -.53 -.211 -1.039 -.586 -1.414c-.375 -.375 -.884 -.586 -1.414 -.586h-6m0 0l3 3m-3 -3l3 -3" />
                            <path d="M3 13.013v3c0 .53 .211 1.039 .586 1.414c.375 .375 .884 .586 1.414 .586h6m0 0l-3 -3m3 3l-3 3" /><path d="M16 16.502c0 .53 .211 1.039 .586 1.414c.375 .375 .884 .586 1.414 .586c.53 0 1.039 -.211 1.414 -.586c.375 -.375 .586 -.884 .586 -1.414c0 -.53 -.211 -1.039 -.586 -1.414c-.375 -.375 -.884 -.586 -1.414 -.586c-.53 0 -1.039 .211 -1.414 .586c-.375 .375 -.586 .884 -.586 1.414z" />
                            <path d="M4 4.502c0 .53 .211 1.039 .586 1.414c.375 .375 .884 .586 1.414 .586c.53 0 1.039 -.211 1.414 -.586c.375 -.375 .586 -.884 .586 -1.414c0 -.53 -.211 -1.039 -.586 -1.414c-.375 -.375 -.884 -.586 -1.414 -.586c-.53 0 -1.039 .211 -1.414 .586c-.375 .375 -.586 .884 -.586 1.414z" />
                            <path d="M21 21.499c0 -.53 -.211 -1.039 -.586 -1.414c-.375 -.375 -.884 -.586 -1.414 -.586h-2c-.53 0 -1.039 .211 -1.414 .586c-.375 .375 -.586 .884 -.586 1.414" />
                            <path d="M9 9.499c0 -.53 -.211 -1.039 -.586 -1.414c-.375 -.375 -.884 -.586 -1.414 -.586h-2c-.53 0 -1.039 .211 -1.414 .586c-.375 .375 -.586 .884 -.586 1.414" />
                          </svg>
                        </span>
                        {{ field|add_class:"form-select bg-grey text-white border-0" }}
                      {% else %}
                        {{ field|add_class:"form-control bg-grey text-white border-0" }}
                      {% endif %}
                    </div>

                    {% if field.help_text %}
                      <small class="form-hint text-grey fst-italic">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}

              <div class="col-md-6">
                <div id="socialMediaFieldsContainer" class="w-100">

                  {% if edit_mode and social_media_entries %}
                    {% for sm in social_media_entries %}
                      <div class="social-media-field mb-2">
                        <div class="input-group input-group-flat flex-grow-1 position-relative" style="width: 100%;">
                          <button type="button" class="btn bg-grey text-white border-0 d-flex align-items-center justify-content-center socialMediaDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 38px; height: 38px; padding: 0;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-social">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                              <path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                              <path d="M19 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                              <path d="M12 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                              <path d="M12 7l0 4" />
                              <path d="M6.7 17.8l2.8 -2" />
                              <path d="M17.3 17.8l-2.8 -2" />
                            </svg>
                            <span class="visually-hidden">Toggle Dropdown</span>
                          </button>

                          <input type="text" name="social_media_handle[]" placeholder="Enter Social Media Handle"
                                class="form-control bg-grey text-white border-0" value="{{ sm.handle }}">

                          <input type="hidden" name="social_media_type[]" value="{{ sm.platform }}">

                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item social-media-option" href="#" data-type="linkedin" data-icon='
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M8 11v5" />
                                <path d="M8 8v.01" />
                                <path d="M12 16v-5" />
                                <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                                <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                              </svg>'>LinkedIn</a>
                            </li>

                            <li><a class="dropdown-item social-media-option" href="#" data-type="whatsapp" data-icon='
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                                <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                              </svg>'>WhatsApp</a>
                            </li>

                            <li><a class="dropdown-item social-media-option" href="#" data-type="instagram" data-icon='
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                <path d="M16.5 7.5v.01" />
                              </svg>'>Instagram</a>
                            </li>

                            <li><a class="dropdown-item social-media-option" href="#" data-type="twitter" data-icon='
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                              </svg>'>Twitter</a>
                            </li>

                            <li><a class="dropdown-item social-media-option" href="#" data-type="tiktok" data-icon='
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
                              </svg>'>TikTok</a>
                            </li>

                            <li><a class="dropdown-item social-media-option" href="#" data-type="" data-icon='
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-social">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M19 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M12 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M12 7l0 4" /><path d="M6.7 17.8l2.8 -2" /><path d="M17.3 17.8l-2.8 -2" />
                              </svg>'>
                              Reset</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}

                    <!-- First social media field -->
                    <div class="social-media-field mb-2">
                      <div class="input-group input-group-flat flex-grow-1 position-relative" style="width: 100%;">
                        <!-- Dropdown button with question mark SVG -->
                        <button type="button" class="btn bg-grey text-white border-0 d-flex align-items-center justify-content-center socialMediaDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 38px; height: 38px; padding: 0;">
                          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-social">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M19 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M12 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M12 7l0 4" /><path d="M6.7 17.8l2.8 -2" /><path d="M17.3 17.8l-2.8 -2" />
                          </svg>
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>

                        <!-- Social media handle input -->
                        <input type="text" name="social_media_handle[]" placeholder="Enter Social Media Handle" 
                              class="form-control bg-grey text-white border-0">

                        <!-- Hidden input for type -->
                        <input type="hidden" name="social_media_type[]" value="">

                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item social-media-option" href="#" data-type="linkedin" data-icon='
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M8 11v5" />
                              <path d="M8 8v.01" />
                              <path d="M12 16v-5" />
                              <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                              <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                            </svg>'>LinkedIn</a>
                          </li>

                          <li><a class="dropdown-item social-media-option" href="#" data-type="whatsapp" data-icon='
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                              <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                            </svg>'>WhatsApp</a>
                          </li>

                          <li><a class="dropdown-item social-media-option" href="#" data-type="instagram" data-icon='
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                              <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                              <path d="M16.5 7.5v.01" />
                            </svg>'>Instagram</a>
                          </li>

                          <li><a class="dropdown-item social-media-option" href="#" data-type="twitter" data-icon='
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                            </svg>'>Twitter</a>
                          </li>

                          <li><a class="dropdown-item social-media-option" href="#" data-type="tiktok" data-icon='
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: block; margin: auto;">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
                            </svg>'>TikTok</a>
                          </li>

                          <li><a class="dropdown-item social-media-option" href="#" data-type="" data-icon='
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-social">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                              <path d="M19 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M12 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                              <path d="M12 7l0 4" /><path d="M6.7 17.8l2.8 -2" /><path d="M17.3 17.8l-2.8 -2" />
                            </svg>'>
                            Reset</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  {% endif %}

                </div>
                <div class="d-flex justify-content-end mt-2">
                  <button type="button" id="addSocialMediaField" class="btn btn-sm btn-purple mt-2" style="display:none;">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-link-plus">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" />
                      <path d="M11 6l.463 -.536a5 5 0 0 1 7.072 0a4.993 4.993 0 0 1 -.001 7.072" />
                      <path d="M12.603 18.534a5.07 5.07 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                      <path d="M16 19h6" /><path d="M19 16v6" />
                    </svg>
                    Add another</button>
                </div>  
              </div>                      

              {% if guest and guest.picture %}
              <div class="col-md-6">
                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" name="clear_picture" id="clear-picture-checkbox">
                  <label class="form-check-label text-white" for="clear-picture-checkbox">
                    Clear Current Picture
                  </label>
                </div>
              </div>
              {% endif %}

            


            <!-- Buttons -->
            <div class="mt-4 d-flex gap-2">
              {% if request.user|is_magnet_admin or guest.assigned_to == request.user or guest.full_name == "Wunmi Jordan" %}
                <button type="submit" name="save_return" class="btn btn-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                    <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M14 4l0 4l-6 0l0 -4" />
                  </svg>
                  Save
                </button>
              {% elif not request.user|has_group:"Demo" and not request.user.is_superuser %}
                <button type="submit" name="save_return" class="btn btn-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                    <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M14 4l0 4l-6 0l0 -4" />
                  </svg>
                  Save
                </button>
              {% endif %}
              {% if request.user|is_magnet_admin %}
                <button type="submit" name="save_add_another" class="btn">
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-reload">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" />
                    <path d="M20 4v5h-5" />
                  </svg> 
                  Save & Repeat
                </button>
              {% endif %}
              {% if show_delete %}
              <!-- Trigger Delete Modal -->
                {% if guest.full_name == "Wunmi Jordan" and request.user.is_superuser %}
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M18.364 5.636l-12.728 12.728" />
                    </svg>
                    Delete
                  </button>
                {% elif guest.full_name != "Wunmi Jordan" %}
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M18.364 5.636l-12.728 12.728" />
                    </svg>
                    Delete
                  </button>
                {% endif %}
              {% endif %}


            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Image Preview Script -->
  <script>
    function previewImage(input) {
      const preview = document.getElementById('preview-img');
      const file = input.files[0];
      if (file && preview) {
        preview.src = URL.createObjectURL(file);
      }
    }
  </script>

</div>
{% endblock %}
