<div class="container mt-5 text-white">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Setlist Builder</h2>

    <form method="POST" action="{% url 'workforce:create_setlist' %}">
      {% csrf_token %}
      <div class="input-group">
        <input name="title" class="form-control" placeholder="New Setlist Title">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


  <div class="row">
    <!-- Left side: Songs -->
    <div class="col-md-6">
      <div class="card bg-dark text-white p-3">
        <h5>Songs</h5>
        <input id="songSearch" class="form-control form-control-sm mb-3" placeholder="Search song...">
        <ul class="list-group song-picker">
          {% for s in songs %}
            <li class="list-group-item bg-surface text-white" draggable="true"
                data-songid="{{ s.id }}">
              {{ s.title }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Right side: Drop Setlist -->
    <div class="col-md-6">
      <div class="card bg-dark text-white p-3">
        <h5>Setlists</h5>

        {% for setlist in setlists %}
        <a href="{% url 'workforce:setlist_detail' setlist.id %}" class="text-white">
          <div class="border p-2 rounded mb-2">
            <strong>{{ setlist.title }}</strong>
            <div class="small text-muted">{{ setlist.created_at }}</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
